
body {
	font-family: arial, ו, serif;
	font-size: 15px
}

#nav {
	line-height: 18px;
	list-style-type: none;
/* 	background: #666; */
	width: 40px;
}

#nav a {
	display: block;
	width: 40px;
	text-align: center
}

#nav a:link {
	color: #666;
	text-decoration: none
}

#nav a:visited {
	color: #666;
	text-decoration: none
}

#nav a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold
}

#nav li {
	float: left;
	width: 40px;
	background: #6c0;
	border: none;
	border-radius: 3px;
	color: white;
	line-height: 150%;
/* 	background: #CCC */
}

#nav li a:hover {
	background: #999
}

#nav li ul {
	line-height: 20px;
	list-style-type: none;
	text-align: center;
	left: -999em;
	width: 60px;
	position: absolute;
	padding-left:0px;
	padding-right:20px;
	display:block;
}

#nav li ul li {
	float: left;
	width: 120px;
	background: #6c0;
	line-height: 25px;
	padding-left:0px;
	text-align: center;
}

#nav li ul a {
	display: block;
	width: 80px;
	text-align: left;
/* 	padding-left: 24px; */
	overflow: hidden
	font-size:15px;
}

#nav li ul a:link {
	color: #666;
	text-decoration: none
	font-size:15px;
}

#nav li ul a:visited {
	color: #666;
	text-decoration: none
	font-size:15px;
}

#nav li ul a:hover {
	color: #F3F3F3;
	text-decoration: none;
	font-weight: normal;
	background: #C00
	font-size:15px;
}

#nav li:hover ul {
	left: auto
}

#nav li.sfhover ul {
	left: auto
}

#content {
	clear: left
}
